
.rt-block-list .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.rt-block-list .navbar.navbar-top {
	margin-bottom: 0;
}

.rt-block-list .navbar-form.navbar-search-form {
	padding-left: 0;
}

.rt-block-list .pagination {
	margin: 10px 15px 10px 0;
}

.rt-block-list .btn-group.item-action-group .btn{
	padding: 10px;
    border: 0;
}

.rt-block-list .btn-group.item-action-group i.glyphicon {
	margin-right: 0;
    font-size: 1.25em;
}